@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

._conteiner {
  max-width: 1280px;
  margin: 0 auto;
}

body {
  font-family: "Nunito";
  font-weight: 400;
}

h2 {
  font-size: 30px;
  line-height: 111%;
  font-weight: 700;
  font-family: "Comfortaa";
  letter-spacing: 3px;
}

.slick-prev,
.slick-next {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 40px;
  height: 40px;
  background-color: #80a529;
  font-size: 0;
  border-radius: 50%;
  background-image: url("../../../img/Vector.png");
  background-repeat: no-repeat;
  background-position: 50%;
  z-index: 10;
}

.slick-disabled {
  background-color: #ccdba9;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.header.active {
  position: fixed;
}

.header {
  min-width: 100%;
  background-color: #80a529;
  padding: 0 15px;
}

.header .header__mini-phone {
  width: 35px;
  height: 35px;
  border: 2px solid white;
  border-radius: 50%;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 25px 0 38px;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-family: "Comfortaa";
  font-weight: 700;
}

.header__logo svg {
  margin-right: 20px;
}

.header__logo p {
  font-size: 18px;
  line-height: 111%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  white-space: nowrap;
}

.header__logo p span {
  font-size: 25px;
  line-height: 112%;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__list a {
  font-size: 16px;
  line-height: 140%;
  color: white;
  text-transform: uppercase;
  white-space: nowrap;
  font-family: "Comfortaa";
  font-weight: 400;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.header__list a:hover {
  opacity: 0.5;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.header__link:not(:last-child) {
  margin-right: calc(7px + 50 * (100vw / 1920));
}

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contacts__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 18px;
  line-height: 139%;
  font-family: "Nunito";
  font-weight: 400;
  display: flex;
}

.contacts__text svg {
  margin-right: 5px;
}

.contacts__text .number.passive {
  display: none;
}

.contacts__text .hide-number {
  display: none;
  color: white;
}

.contacts__text .hide-number.active {
  display: block;
}

.contacts__text .show-number {
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.contacts__text .show-number:hover {
  opacity: 0.7;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.contacts__text .show-number.passive {
  display: none;
}

.contacts__button button {
  padding: 12.5px 0px;
  width: 293px;
  background-color: #fb8e30;
  margin-top: 5px;
  border-radius: 5px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.contacts__button button span {
  color: white;
  font-family: "Nunito";
  font-weight: 600;
  font-size: 18px;
  line-height: 142%;
}

.contacts__button:hover button {
  background-color: #cc6c17;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.header__burger {
  width: 50px;
  height: 25px;
  position: relative;
  display: none;
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header__burger span {
  position: absolute;
  width: 80%;
  height: 2.4px;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: #fff;
  display: block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header__burger span.passive {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translate(10px, 0);
          transform: translate(10px, 0);
}

.header__burger::before,
.header__burger::after {
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  content: "";
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header__burger::before {
  top: 0;
  width: 60%;
}

.header__burger.active::before {
  -webkit-transform: translate(20px, 0);
          transform: translate(20px, 0);
}

.header__burger::after {
  bottom: 0;
}

.burger-menu {
  display: none;
}

.burger-menu.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  top: 100%;
  background-color: #fff;
  width: 100%;
  height: 100vh;
  margin: 0 -15px;
  padding: 0 15px 120px;
  z-index: 500;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: auto;
  transition: 0.5s;
}

.burger-menu__phone {
  padding: 25px 30px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background: #ffffff;
  border: 1px solid #f8f8f8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 5px;
  display: none;
}

.burger-menu__phone__image {
  margin-right: 15px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #80a529;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.burger-menu__phone__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.burger-menu__phone__items a {
  color: #1e1e1e;
  font-weight: 600;
  font-size: 18px;
  line-height: 142%;
}

.burger-menu__phone__items p {
  font-size: 16px;
  line-height: 142%;
}

.burger-menu .burger__menu {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 80px;
}

.burger-menu .burger__menu .burger__link {
  border-bottom: 1px solid rgba(128, 165, 41, 0.6);
  padding: 20px 0;
  font-size: 20px;
  line-height: 142%;
}

.burger-menu .burger__menu .burger__link a {
  color: rgba(30, 30, 30, 0.6);
}

.burger-menu .burger__menu .burger__link:hover a {
  color: #1e1e1e;
}

.burger-menu .contacts-page__button {
  margin-top: 80px;
  margin-bottom: 40px;
  max-width: 400px;
}

body.lock {
  overflow: hidden;
}

@media (max-width: 1100px) {
  .header__menu {
    display: none;
  }
  .header__burger {
    display: block;
  }
  .header {
    position: relative;
  }
}

@media (max-width: 768px) {
  .burger-menu__phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__contacts {
    display: none;
  }
  .header__burger.active::before {
    -webkit-transform: translate(10px, 0);
            transform: translate(10px, 0);
  }
  .header {
    height: 60px;
    padding: 10px 15px;
  }
  .header__conteiner {
    height: 100%;
    padding: 0;
  }
  .header .header__mini-phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header .header__burger {
    width: 25px;
    height: 15px;
  }
  .header .header__burger span.passive {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-transform: translate(5px, 0);
            transform: translate(5px, 0);
  }
  .header .logo__image svg {
    width: 40px;
    height: 40px;
  }
  .header .logo__text span {
    font-size: 22px;
  }
  .header .logo__text p {
    font-size: 16px;
  }
}

@media (max-width: 372px) {
  .header .header__mini-phone {
    display: none;
  }
  .header .logo__image svg {
    margin-right: 5px;
  }
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.main-page {
  padding: 70px 15px;
  background: url("../../../img/баннер1.png") no-repeat;
  background-position: right;
}

.main-page__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-page__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-page__title h1 {
  font-size: calc(25px + 25 * (100vw / 1920));
  font-family: "Comfortaa";
  font-weight: 700;
  line-height: 111%;
  letter-spacing: 3px;
}

.main-page__adres {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  line-height: 145%;
  margin-top: 64px;
}

.main-page__adres svg {
  margin-right: 17px;
}

.main-page__time {
  margin-top: 30px;
  font-size: 26px;
  font-weight: 400;
}

.main-page__time span {
  font-weight: 700;
}

.main-page__price {
  margin-top: 10px;
  font-size: 26px;
  font-weight: 400;
}

.main-page__price span {
  font-weight: 700;
}

.main-page__button {
  margin-top: 45px;
}

.main-page__button button {
  padding: 17.5px 34px;
  background-color: #80a529;
  border-radius: 5px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.main-page__button button span {
  color: white;
  font-weight: 400;
  font-size: 18px;
  line-height: 142%;
}

.main-page__button button:hover {
  background-color: #5e7c17;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.main-page__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 20px;
}

.main-page__item {
  margin-left: calc(56px + 100 * (100vw / 1920));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
  position: relative;
  z-index: 1;
}

.main-page__item a:not(:last-child) {
  margin-bottom: 50px;
}

.main-page__item a:hover svg {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.main-page__item::before {
  position: absolute;
  content: "";
  width: 1px;
  height: 100px;
  left: 0;
  right: 0;
  top: -100%;
  margin: auto;
  border: 1px solid transparent;
  border-bottom: 100px solid #1e1e1e;
}

.main-page__item::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 100px;
  left: 0;
  right: 0;
  bottom: -100%;
  margin: auto;
  border: 1px solid transparent;
  border-top: 100px solid #1e1e1e;
}

@media (max-width: 1100px) {
  .main-page__item {
    display: none;
  }
}

@media (max-width: 930px) {
  .main-page__items {
    display: none;
  }
  .main-page {
    background: url("../../../img/баннер.png");
    padding: 0;
  }
  .main-page__conteiner {
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(30, 30, 30, 0.7)), to(rgba(30, 30, 30, 0.7)));
    background: linear-gradient(0deg, rgba(30, 30, 30, 0.7), rgba(30, 30, 30, 0.7));
    padding: 140px 15px 50px;
    color: white;
  }
}

@media (max-width: 476px) {
  .main-page__title {
    font-size: 36px;
  }
  .main-page__button button {
    padding: 17.5px 15px;
  }
}

.check-page {
  min-width: 100%;
  background-color: #80a529;
  margin-top: calc(0px + 100 * (100vw / 1920));
  padding: 0 15px;
}

.check-page__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 25px 0 20px;
}

.check-page__form {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: 40px;
}

.check-page__form input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 300px;
          flex: 1 1 300px;
  padding: 14px 0 14px 20px;
  margin-bottom: 15px;
  color: rgba(30, 30, 30, 0.5);
  border-radius: 5px;
  margin-right: 20px;
}

.check-page__form input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 142%;
  color: rgba(30, 30, 30, 0.5);
}

.check-page__form input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 142%;
  color: rgba(30, 30, 30, 0.5);
}

.check-page__form input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 142%;
  color: rgba(30, 30, 30, 0.5);
}

.check-page__form input::placeholder {
  font-size: 16px;
  line-height: 142%;
  color: rgba(30, 30, 30, 0.5);
}

.check-page__form button {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 300px;
          flex: 1 1 300px;
  margin-right: 20px;
  background-color: #fff;
  margin-bottom: 15px;
  padding: 14px 0;
  border-radius: 5px;
}

.check-page__form button span {
  font-size: 16px;
  line-height: 142%;
  color: #80a529;
}

.check-page__form .agree {
  width: 100%;
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  line-height: 142%;
  color: white;
}

.check-page__form .agree a {
  font-weight: 700;
  text-decoration: underline;
  color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.check-page__form .agree a:hover {
  opacity: 0.6;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.check-page__form .agree input {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin-right: 10px;
  margin-top: 3.5px;
  padding: 14px 0 14px 20px;
  color: rgba(30, 30, 30, 0.5);
  border-radius: 5px;
}

.check-page__image img {
  margin-top: -79px;
}

@media (max-width: 768px) {
  .check-page {
    background-color: #fff;
  }
  .check-page__conteiner {
    background: #ffffff;
    border: 1px solid #f8f8f8;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
            box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 5px;
    padding: 25px 12px 0 32px;
  }
  .check-page__conteiner h2 {
    font-size: calc(16px + 14 * (100vw / 768));
  }
  .check-page__conteiner input {
    background: rgba(128, 165, 41, 0.1);
    border-radius: 5px;
  }
  .check-page__form {
    margin-right: 0;
  }
  .check-page button {
    background: #80a529;
    border-radius: 0px 0px 5px 5px;
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
    margin-top: 20px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .check-page button span {
    color: white;
  }
  .check-page button:hover {
    background-color: #5e7c17;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .check-page .agree {
    font-size: 14px;
    color: #1e1e1e;
  }
  .check-page .agree a {
    color: #1e1e1e;
  }
  .check-page__image {
    display: none;
  }
}

@media (max-width: 372px) {
  .check-page__conteiner {
    padding: 25px 15px;
    margin: 0 -15px;
  }
  .check-page__conteiner input {
    margin-right: 0;
  }
  .check-page__conteiner button {
    margin-right: 0;
  }
}

.about-page {
  min-width: 100%;
  background: url("/img/about.png") no-repeat;
  background-position: right;
  padding: calc(13px + 100 * (100vw / 1920)) 15px calc(30px + 50 * (100vw / 1920));
}

.about-page__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-page__items {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 31.25%;
          flex: 0 1 31.25%;
  margin-top: 36px;
  padding: 30px 40px;
  border: 1px solid #f8f8f8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 5px;
  background-color: #fff;
}

.about-page__items__title {
  font-size: 20px;
  line-height: 142%;
  padding: 0 0 5px 0;
}

.about-page__items__list {
  margin-top: 15px;
}

.about-page__items__list .about-page__items__li {
  position: relative;
}

.about-page__items__list li:first-child {
  margin-bottom: 10px;
  font-weight: 600;
}

.about-page__items__list li {
  line-height: 142%;
  font-size: 16px;
  cursor: pointer;
}

.about-page__items__list span {
  color: #fb8e30;
  font-size: 20px;
  font-weight: 600;
}

.about-page__items__button {
  margin-top: 20px;
}

.about-page__items__button button {
  padding: 15px 25px;
  background-color: #fb8e30;
  border-radius: 5px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.about-page__items__button button span {
  color: white;
  font-size: 16px;
  font-weight: 600;
}

.about-page__items__button button:hover {
  background-color: #cc6c17;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.about-page__items_characters .about-page__items__list:first-child {
  margin-top: 0px !important;
}

.about-page__items_characters li:first-child {
  margin-bottom: 0;
  font-weight: 600;
  color: #80a529;
  font-size: 18px;
  font-weight: 600;
  line-height: 142%;
}

.about-page__items_chioce li:not(:first-child) {
  margin-top: 33px;
}

.about-page__items_chioce li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.about-page__items_chioce li .arrow-li {
  position: absolute;
  right: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.about-page__items_chioce li .arrow-li.active {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.about-page__items_chioce li .icon-li {
  margin-right: 10px;
}

.about-page__items .submenu {
  display: none;
  position: absolute;
  background-color: #fff;
  margin: 20px -30px 0;
  top: 100%;
  z-index: 2;
  padding: 30px;
  border: 1px solid #80a529;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 5px;
  font-size: 16px;
  line-height: 155%;
  color: #1e1e1e;
}

.about-page__items .submenu.active {
  display: block;
}

.main-slider {
  margin-top: 52px;
  position: relative;
  width: 100%;
}

.main-slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-slider .slick-list {
  overflow: hidden;
}

.main-slider .slick-prev {
  left: -8px;
}

.main-slider .slick-next {
  right: -8px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.main-slider__image {
  position: relative;
  padding: 0 0 7.54% 0;
  margin: 0 11px;
}

.main-slider__image img {
  position: absolute;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-slider__image .main-slider__fon {
  cursor: pointer;
  position: absolute;
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  width: 100%;
  height: 100%;
  right: 0;
  left: 0;
  margin: auto;
  color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background-color: rgba(0, 0, 0, 0.5);
}

.main-slider__image .main-slider__fon span {
  font-size: 16px;
  line-height: 120%;
}

.main-slider__image .main-slider__fon svg {
  margin-bottom: 5px;
}

.main-slider__image .main-slider__fon.passive {
  display: none;
}

.main-slider__image .main-slider__fon:hover {
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

@media (max-width: 930px) {
  .about-page__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 360px) {
  .about-page__body .about-page__items {
    padding: 15px 20px;
  }
}

.about-us {
  padding: calc(0px + 80 * (100vw / 1920)) 70px 50px 15px;
  background: url("../../../img/1801.png") no-repeat;
}

.about-us__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-us__items {
  padding: 48px 0 0 27px;
  margin-right: calc(40px + 100 * (100vw / 1920));
}

.about-us__text {
  margin-top: 35px;
  font-size: 16px;
  line-height: 145%;
}

@media (max-width: 1100px) {
  .about-us {
    padding: calc(10px + 70 * (100vw / 1920)) 15px calc(30px + 20 * (100vw / 1920));
  }
  .about-us__items {
    width: 100%;
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
  }
  .about-us__conteiner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.about-slider {
  position: relative;
  width: 490px;
}

.about-slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-slider .slick-list {
  overflow: hidden;
}

.about-slider .slick-prev {
  left: -60px;
}

.about-slider .slick-next {
  right: -60px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media (max-width: 640px) {
  .about-slider {
    display: none;
  }
}

.stock {
  padding: calc(0px + 50 * (100vw / 1920)) 15px calc(30px + 113 * (100vw / 1920));
  background: url("../../../img/2.22.png") no-repeat right;
}

.stock__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 35px;
}

.stock__items {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 31.25%;
          flex: 0 1 31.25%;
  background: -webkit-gradient(linear, left bottom, left top, from(#fcfcfc), to(#fcfcfc));
  background: linear-gradient(0deg, #fcfcfc, #fcfcfc);
  border: 1px solid rgba(230, 230, 230, 0.5);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.04);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.stock__items__image {
  position: relative;
  padding: 0 0 56% 0;
  width: 100%;
}

.stock__items__image .special {
  position: absolute;
  top: 15px;
  left: 17px;
  padding: 10px 25px;
  background-color: #80a529;
}

.stock__items__image .special span {
  color: white;
}

.stock__items__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}

.stock__items .items-sell {
  margin-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.stock__items .items-sell__left {
  padding: 0 0 0 15px;
  color: #fb8e30;
  font-weight: 700;
  font-size: calc(24px + 40 * (100vw / 1920));
  line-height: 100%;
}

.stock__items .items-sell__left_hour {
  font-size: 32px;
  color: #fb8e30;
  font-weight: 700;
  line-height: 100%;
  padding: 0 0 0 15px;
}

.stock__items .items-sell__right {
  padding: 0 0 0 20px;
}

.stock__items .items-sell__right p {
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 3px;
}

.stock__items .items-sell__right span {
  font-size: 32px;
  line-height: 100%;
  font-weight: 600;
}

.stock__items__button a {
  background-color: #80a529;
  margin-top: 51px;
  padding: 12px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 0px 0px 5px 5px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.stock__items__button a span {
  margin: 0 auto;
  color: white;
  font-size: 18px;
  line-height: 142%;
  font-weight: 600;
}

.stock__items__button a:hover {
  background-color: #5e7c17;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.stock-slider {
  display: none;
}

@media (max-width: 1000px) {
  .stock__body {
    display: none;
  }
  .stock-slider {
    position: relative;
    display: block;
    margin: 50px;
  }
  .stock-slider .slick-next {
    right: -30px;
    width: calc(40px + 20 * (100vw / 1000));
    height: calc(40px + 20 * (100vw / 1000));
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .stock-slider .slick-prev {
    left: -30px;
    width: calc(40px + 20 * (100vw / 1000));
    height: calc(40px + 20 * (100vw / 1000));
  }
  .stock-slider .slick-list {
    overflow: hidden;
  }
  .stock-slider .slick-track {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .stock-slider .stock__items .items-sell {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
}

@media (max-width: 640px) {
  .stock-slider {
    margin: 50px 15px 0px;
  }
  .stock-slider .slick-next {
    right: -25px;
  }
  .stock-slider .slick-prev {
    left: -25px;
  }
}

@media (max-width: 340px) {
  .stock-slider {
    margin: 50px 0px 0px;
  }
  .stock-slider .slick-dots {
    position: absolute;
    bottom: -30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .stock-slider .slick-dots li button {
    font-size: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgba(128, 165, 41, 0.5);
    margin: 0 5px;
  }
  .stock-slider .slick-dots li.slick-active button {
    background-color: #80a529;
  }
}

.consultation {
  min-width: 100%;
  background-color: #80a529;
  padding: 25px 15px 35px 50px;
  margin-top: calc(30px + 41 * (100vw / 1920));
}

.consultation__title {
  color: white;
}

.consultation__title h2 {
  font-size: calc(25px + 5 * (100vw / 1920));
}

.consultation__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.consultation__image {
  margin: -115px 0 0 -50px;
}

.consultation__body {
  margin-left: calc(10px + 40 * (100vw / 1920));
}

.consultation__title {
  margin-bottom: 10px;
}

.consultation__title h3 {
  color: white;
}

.consultation__title p {
  font-size: 16px;
  line-height: 142%;
  color: white;
  letter-spacing: 3px;
  margin-top: 5px;
}

.consultation__items {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 400px;
          flex: 0 1 400px;
  margin-top: 15px;
}

.consultation__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.consultation__form input {
  width: 100%;
  padding: 14px 20px;
  border-radius: 5px;
  margin-top: 2px;
}

.consultation__form input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 142%;
  color: rgba(30, 30, 30, 0.5);
  letter-spacing: 3px;
}

.consultation__form input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 142%;
  color: rgba(30, 30, 30, 0.5);
  letter-spacing: 3px;
}

.consultation__form input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 142%;
  color: rgba(30, 30, 30, 0.5);
  letter-spacing: 3px;
}

.consultation__form input::placeholder {
  font-size: 16px;
  line-height: 142%;
  color: rgba(30, 30, 30, 0.5);
  letter-spacing: 3px;
}

.consultation__items button {
  width: 100%;
  padding: 12.5px 0;
  background-color: #fff;
  border-radius: 5px;
}

.consultation__items button span {
  margin: 0 auto;
  color: #80a529;
  font-size: 18px;
  line-height: 142%;
  font-weight: 600;
}

.consultation__items_agree {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.consultation__items_agree p {
  font-size: 13px;
  letter-spacing: 0;
  color: rgba(255, 255, 255, 0.7);
  line-height: 142%;
}

.consultation__items_agree a {
  font-weight: 700;
  font-size: 14px;
  text-decoration: underline;
  color: white;
}

.consultation__items_agree input {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: 10px;
  color: rgba(30, 30, 30, 0.5);
  border-radius: 5px;
  -webkit-box-shadow: 0px;
          box-shadow: 0px;
}

@media (max-width: 1280px) {
  .consultation__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .consultation__form .consultation__items {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }
}

@media (max-width: 930px) {
  .consultation {
    padding: 25px 15px;
  }
  .consultation__image {
    display: none;
  }
  .consultation__body {
    margin: 0;
    width: 100%;
  }
}

.reviews {
  background: url("../../../img/3.1.png") no-repeat right;
  padding: calc(50px + 50 * (100vw / 1920)) 15px 110px;
}

.reviews__obolochka {
  background: url("../../../img/4.1.png") no-repeat left;
}

.reviews__slider {
  margin-top: 35px;
  margin: 35px 60px 0;
  position: relative;
}

.reviews__slider .slick-list {
  overflow: hidden;
  padding: 0 0 10px 0;
}

.reviews__slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.reviews__slider .slick-prev {
  left: -60px;
}

.reviews__slider .slick-next {
  right: -60px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.reviews__slider .review {
  margin: 0 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 35px 20px 43px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #ffffff;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 5px;
}

.reviews__slider .review__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews__slider .review__header__name {
  margin-right: 37px;
  font-size: 20px;
  line-height: 142%;
  font-weight: 600;
  opacity: 0.8;
}

.reviews__slider .review__header__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.reviews__slider .review__header__rating svg {
  margin-right: 3px;
}

.reviews__slider .review__body {
  margin-top: 21px;
  font-size: 16px;
  line-height: 142%;
  opacity: 0.8;
}

.reviews__slider .review__body .read-all {
  opacity: 0.5;
  cursor: pointer;
}

.reviews__slider .review__footer {
  margin-top: 20px;
  font-size: 14px;
  line-height: 142%;
  color: rgba(0, 0, 0, 0.6);
}

.reviews__buttons {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews__buttons .green-button,
.reviews__buttons .white-button {
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: 370px;
      flex-basis: 370px;
  background-color: #80a529;
  border-radius: 5px;
  padding: 12.5px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.reviews__buttons .green-button span,
.reviews__buttons .white-button span {
  color: white;
}

.reviews__buttons .green-button:hover {
  background-color: #5e7c17;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.reviews__buttons .white-button {
  background-color: #fff;
  border: 1px solid #80a529;
  margin-left: 35px;
}

.reviews__buttons .white-button span {
  color: #80a529;
}

.reviews__buttons .white-button:hover {
  background-color: rgba(128, 165, 41, 0.2);
}

@media (max-width: 480px) {
  .reviews__slider {
    margin: 0;
  }
  .reviews__slider .slick-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .reviews__slider .slick-dots li {
    margin: 0 5px;
  }
  .reviews__slider .slick-dots li button {
    font-size: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgba(128, 165, 41, 0.5);
  }
  .reviews__slider .slick-dots li.slick-active button {
    background-color: #80a529;
  }
  .reviews__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
  }
  .reviews__buttons button {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 1 auto !important;
            flex: 0 1 auto !important;
    min-width: 100%;
    margin: 0 !important;
    margin-top: 20px !important;
  }
}

.contactses {
  width: 100%;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
}

.contacts-page {
  max-height: 500px;
  overflow: hidden;
}

.contacts-page__body {
  width: 480px;
  padding: 35px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -440px;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
  -webkit-box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
}

.contacts-page a {
  color: #1e1e1e;
}

.contacts-page__cocial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 17px;
}

.contacts-page__cocial__item {
  width: 50px;
  height: 50px;
  background-color: #80a529;
  margin-right: 30px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.contacts-page__cocial__item:hover {
  background-color: rgba(128, 165, 41, 0.6);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.contacts-page__button {
  margin-top: 35px;
}

.contacts-page__button button {
  width: 100%;
  background-color: #80a529;
  padding: 17.5px 0;
  border-radius: 3px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.contacts-page__button button span {
  color: white;
  margin: 0 auto;
  font-size: 18px;
  line-height: 145%;
  font-weight: 600;
}

.contacts-page__button button:hover {
  background-color: #5e7c17;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.contacts-page__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 20px;
}

.contacts-page__items__image {
  min-width: 20px;
  margin-right: 15px;
}

.contacts-page__items p {
  font-size: 20px;
  line-height: 142%;
  color: #1e1e1e;
}

.contacts-page__items span {
  font-weight: 600;
  font-size: 22px;
}

@media (max-width: 768px) {
  .contacts-page__body {
    margin: -200px auto 0;
  }
}

@media (max-width: 480px) {
  .contacts-page__body {
    margin: -80px auto 20px;
    width: 100%;
    padding: 35px 15px;
  }
  .contacts-page {
    max-height: 300px;
  }
}

.footer {
  text-align: center;
  margin-top: 35px;
  padding: 45px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  color: white;
  font-size: calc(10px + 10 * (100vw / 1920));
  line-height: 142%;
  background-color: #80a529;
}
